<template>
  <p>
    <!-- This is a temporary placeholder. 
    In this next issue, this will be replaced with a proper dropdown UI
    https://gitlab.com/gitlab-org/gitlab/-/issues/368249 -->
    <!-- eslint-disable @gitlab/vue-require-i18n-strings -->
    Tool dropdown Placeholder
  </p>
</template>
